.all{
    margin-left: 300px;
    width: 700px;
    margin-top: 20px;
    border-radius: 50px;
    
    color: black;
    padding: 20px;
    margin-top: 150px;
  

    
}
textarea{
    margin-left: 0px;   
}
p{
    margin-left: 0px;
}
.header{
    text-align: center;
    font-size: 50px;
}


