<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="index.css">
   
</head>
<body style="background-image:url('image2.jpg')">
     <div class="anni">
  
    <div class="card bg-dark text-white">
        <!--img src="image1.jpg" class="card-img" alt="..."-->
        <div class="card-img-overlay">

                <form method="POST" action="#">
                        <div class="wards">
                               
                                <div class="div">
                                        <h1>LET'S STOP POACHING</h1>
                                        <label for="">Name</label>
                                        <input type="text" name="name" placeholder="enter your name">
                                        <br/>
                                        <br/>
                                        <label for="">Phone</label>
                                        <input type="text" name="phone" placeholder="enter your phone number">
                                        <br/><br/>
                                        <select name="activity" id="activity" >
                        
                                                <option value="">select the  activity to report</option>                  
                                                <option value="Poaching" selected>Poaching</option>
                                                <option value="Illegal logging">Illegal logging</option>
                                                <option value="Others">Others </option>

                                        </select>    
                                        </label>                 
                                                        
                                        <br/>
                                        
                                        <p>Please Describe the Incident</p>
                                        <textarea name="description" id="" cols="47" rows="5"></textarea>
                                        <br>
                                        <label for="">Give the direction to the place</label>
                                        <br/>
                                        <input type="text" name="location" placeholder="enter location">

                                        <p>Any other details about the Incident that you would like to provide</p>
                                        <textarea name="details" id="" cols="47" rows="5"></textarea>
                                        <br/><br/>
                                        <button>submit</button>
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        
                                </div>
                        </div>
                </form>
        </div>
      </div>
    </div>
</body>
</html>