<!DOCTYPE html>
html(lang="en")
    head
       
        title List page
        link(rel="stylesheet", href="http://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css")  
    body
       
