<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ireport</title>
    <link rel="stylesheet" href="./ireport.css">
</head>
<body>
    <div class="report">
        <h1> Incident report</h1>
        <form netthod="post" action="/index2.pug">
            <P> Enter your Name</P>
            <input type="text" name="name" class="name" id="name">
            <P> Enter your phone number</P>
            
            <input type="number" name="phoneNumber" class="PhoneNumber" id="phoneNumber"> <br>
            <br>    
            <P>Choose an ctivity to report</P>
            <select name="activity" id="activity" name="activity">
                <option value="logging">Illegal logging</option>
                <option value="logging">Illegal logging</option>

            </select>
            <P>Briefly describe the activity</P>
            <br>
            <input type="text" name="description" class="description" id="description">
            <p>Where is the location of the activity (as detailed as possible)</p>
            <br>
            <input type="text" name="location" class="location" id="location">
            <P> Any other details you woyld like to add</P>
            <br>
            <input type="text" name="details" class="details" id="details"> <br>
            <br>

            <button class="submit">this is a submit button</button> <br>
            <br>
        </form>
        
    </div>
    
   

    
</body>
</html>