<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>IReport</title>

    <!-- bootstrap-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="css/bootstrap.min.css"> -->
    <link rel="stylesheet" href="index.css">
    <style media="screen">
    .img {
      width: 200px;
      height: 200px;
      background: url('rhino2.png') center/cover no-repeat;
      border-radius: 50%;
      box-shadow: 2px 2px 2px 2px rgba(0,0,0,.1);
    }
      .flex {
        max-width: 700px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        /* box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1); */
        padding: .5rem;
      }
      .flex .btn {
        width: 100%;
      }
      .flex label {
        align-self: center;
        margin: 0;
      }
    </style>
</head>
<body>
  <div class="container">
    <div class="flex">
      <div class="img">
      </div>
      <!-- <img src="rhino2.png" alt="logo image" class="rounded-circle"> -->
      <h3>iReport</h3>
      <!-- bootstrap form -->
      <form id="report-form" method="POST" action="#">
  <div class="form-group row">
    <label class="col-sm-2" for="name">Name</label>
    <div class="col-sm-10">
      <input type="text" name="name"class="form-control" id="name" placeholder="Enter name">
    </div>
    <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
  </div>
  <div class="form-group row">
    <label class="col-sm-2" for="phone">Phone</label>
    <div class="col-sm-10">
      <input type="text" name="phone" class="form-control" id="phone" placeholder="phone">
    </div>
  </div>
  <select class="custom-select">
  <option selected>Select activity to report</option>
  <option value="1">Poaching</option>
  <option value="2">Illegal logging</option>
  <option value="3">Wildlife trafficking</option>
  <option value="3">Others</option>
</select>
<div class="form-group">
  <label for="incident-desc">Please describe the incident</label>
  <textarea class="form-control" id="incident-desc" rows="2"></textarea>
</div>
<div class="form-group">
  <label for="incident-desc">Any other details about the incident you would like to provide</label>
  <textarea class="form-control" id="incident-desc" rows="2"></textarea>
</div>
<a href="#">Privacy Terms and Conditions</a>
  <div class="form-group form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1"><small id="emailHelp" class="form-text text-muted">Agree to our privacy terms and conditions</small></label>
  </div>
  <button id="submit" type="submit" class="btn btn-primary">Submit</button>
</form>
    </div>
  </div>


    <!-- bootstrap js -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.j {s/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script>
        // function showAlert(message,className){
        //     const div = document.createElement('div');
        //     div.className = `alert alert-${className}`;
        //     div.appendChild(document.createTextNode(message));
        //     const container = document.querySelector('.flex');
        //     const form = document.querySelector('#report-form');
        //     container.insertBefore(div, form);
        //     //dissappear after 3 seconds
        //     setTimeout(()=>document.querySelector('.alert').remove(), 2000);
        // }

        // const submit = document.getElementById('submit');
        // submit.addEventListener('click', ()=>{
        //   // showAlert('testing', 'success');
        //   // console.log('testting');
        //   showAlert('testing', 'success');
        // })
</script>
</body>
</html>
