<!DOCTYPE html>
html(lang="en")
    head
       
        title Illegal Poaching Activity
        link(rel="stylesheet", href="http://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css")  
    body
        header.card-header
            h4.card-title. 
                |Thank you #{reportingname}. your report is highly appreciated.
                | we will get back to you with the progress
            
       
                    
               